# Dependencies
node_modules/
.pnp
.pnp.js

# Build outputs
dist/
build/
.serverless/
cdk.out/

# Environment variables
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/launch.json
.idea/

# AWS
.aws-sam/

# Testing
coverage/

# Temporary files
*.tmp
.cache/